* {
  box-sizing: border-box;
}

html,
body {
  min-width: 1200px;
  overflow-x: hidden;
}
.clearfix {
  clear: both;
}
.block-pad-1 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.corp__inner {
  width: 1200px;
  margin: auto;
}
.corp__inner:before,
.corp__inner:after {
  content: " ";
  display: table;
}
.corp__inner:after {
  clear: both;
}
.corp__inner-footbtn__wrap {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.corp__inner-footbtn__wrap:before,
.corp__inner-footbtn__wrap:after {
  content: " ";
  display: table;
}
.corp__inner-footbtn__wrap:after {
  clear: both;
}
.corp__inner-footbtn__btn {
  font-size: 14px;
  padding: 11px 24px;
  color: #fff;
  background: #007cff;
  display: inline-block;
  cursor: pointer;
}
.corp__inner-footbtn__btn:hover {
  background: #007cff;
}

.corp__title {
  font-size: 30px;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

.corp__subtitle {
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
}

.corp__btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background: #007cff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid #007cff;
  padding: 8px 24px;
  line-height: initial;
  transition: all 0.1s;
}
.corp__btn:hover {
  color: #007cff;
  border-color: #007cff;
  background: #007cff;
  color: #fff;
}
.corp__btn.default {
  background: #fff;
  color: #007cff;
  border-color: #007cff;
}
.corp__btn.default:hover {
  color: #007cff;
  border-color: #007cff;
  background: #007cff;
  color: #fff;
}

.nolink {
  color: #000;
  cursor: text;
}
.nolink:hover {
  color: #000;
}

.corp__link-more {
  font-size: 13px;
  color: #007cff;
  margin-top: 16px;
  cursor: pointer;
}
.corp__link-more__arrow {
  vertical-align: middle;
  margin: 2px 0 0 2px;
  width: 14px;
  height: 14px;
  display: inline-block;
  transition: all 0.5s;
  background: url(../img/637667176107046618.png)
    no-repeat 50%;
}
.corp__link-more > span {
  display: inline-block;
  vertical-align: middle;
}
.corp__link-more:hover .corp__link-more__arrow {
  background-image: url(../img/637667176221596027.png);
}

.corp-breadcrumb {
  font-size: 14px;
}
.corp-breadcrumb a {
  color: #000;
  transition: color 0.2s ease-in-out;
}
.corp-breadcrumb-item-separator {
  margin: 0 2px;
}
.corp-breadcrumb > span:last-child {
  font-weight: 700;
}
.corp-breadcrumb > span:last-child .ivu-breadcrumb-item-separator {
  display: none;
}

.kkpager,
#kkpager {
  text-align: center;
}
.kkpager span,
#kkpager span {
  display: inline;
  padding: 1px 4px;
  margin-right: 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  color: #9b9b9b;
  border: 1px solid transparent;
}
.kkpager span:hover,
#kkpager span:hover {
  color: #000;
}
.kkpager span.active,
#kkpager span.active {
  border: 1px solid #000;
  display: inline-block;
  border-color: #000;
}
.kkpager span.active a,
#kkpager span.active a {
  color: #000;
}
.kkpager span a,
#kkpager span a {
  color: #9b9b9b;
}
.kkpager span a:hover,
#kkpager span a:hover {
  color: #000;
}

.Text .corp__title {
  margin-bottom: 12px;
}

.Text__txt {
  font-size: 18px;
  color: #333;
  line-height: 43px;
}

.TextAndImgUpDown {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.TextAndImgUpDown .corp__title {
  margin-bottom: 40px;
}
.TextAndImgUpDown__txt {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 40px;
}
.TextAndImgUpDown__img {
  display: block;
  width: 100%;
}

.titleimg__txt {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 40px;
}

.titleimg__img {
  display: block;
  width: 100%;
}

.IconAndTextLeftRight .corp__subtitle {
  margin-bottom: 20px;
}

.IconAndTextLeftRight-list {
  border-collapse: initial;
  border-spacing: 0;
  table-layout: fixed;
}
.IconAndTextLeftRight-list:before,
.IconAndTextLeftRight-list:after {
  content: " ";
  display: table;
}
.IconAndTextLeftRight-list:after {
  clear: both;
}
.IconAndTextLeftRight-list td {
  vertical-align: middle;
  text-align: center;
  padding: 0 8px;
}
.IconAndTextLeftRight-list + .IconAndTextLeftRight-list {
  margin-top: 10px;
}

.IconAndTextLeftRight-item {
  text-align: center;
  padding: 30px 25px;
  margin: auto;
}

.IconAndTextLeftRight-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.IconAndTextLeftRight-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}

.IconAndTextLeftRight-txt {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 32px;
}

.IconAndTextLeftRight-link {
  color: #007cff;
  line-height: 18px;
  display: inline-block;
}
.IconAndTextLeftRight-link > img {
  vertical-align: middle;
  display: inline-block;
  margin-left: 2px;
}
.IconAndTextLeftRight-link:hover {
  color: #007cff;
}

.IconAndTextLeftRight-more {
  text-align: center;
  margin-top: 50px;
}
.IconAndTextLeftRight-more > a {
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid #007cff;
  color: #007cff;
  font-size: 16px;
}

.BannerAndButton > .corp__inner {
  width: auto;
}

.BannerAndButton .swiper-slide {
  width: 100%;
  height: auto !important;
}

.BannerAndButton .swiper-wrapper {
  height: auto !important;
}

.BannerAndButton-banner {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.BannerAndButton-banner .corp__inner {
  height: 340px;
  overflow: hidden;
}
.BannerAndButton-banner-body {
  height: 340px;
  position: relative;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.BannerAndButton-banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.BannerAndButton-banner-title {
  font-size: 60px;
  color: #fff;
  line-height: 2;
}
.BannerAndButton-banner-subtitle {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}
.BannerAndButton-banner-linkbtn {
  display: block;
  width: 104px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #29a6f2;
  margin-top: 44px;
  transition: all 0.2s;
}
.BannerAndButton-banner-linkbtn:hover {
  color: #f2f2f2;
  background: #59baf5;
}
.BannerAndButton-banner-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 20px 50px 25px 0;
  background: rgba(255, 255, 255, 0.9);
}
.BannerAndButton-banner-nav .corp__inner {
  overflow: hidden;
}
.BannerAndButton-banner-nav__item {
  width: 25%;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
  box-sizing: border-box;
}
.BannerAndButton-banner-nav__title {
  font-size: 18px;
  color: #000000;
  margin-bottom: 12px;
  font-weight: bold;
  position: relative;
  padding-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.BannerAndButton-banner-nav__title::after {
  content: " ";
  width: 40px;
  height: 2px;
  background: #007cff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.BannerAndButton-banner-nav__txt {
  font-size: 14px;
  color: #000000;
}

.corp__swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.corp__swiper-box {
  position: relative;
  overflow: hidden;
}

.corp__swiper-list {
  overflow: hidden;
}

.corp__swiper-item,
.corp__swiper .corp-swiper__item {
  float: left;
  font-size: 30px;
  height: 100%;
}

.corp__swiper-pre,
.corp__swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 118px;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.corp__swiper-pre {
  left: 0;
  background-image: url(../img/prev.png);
}

.corp__swiper-next {
  right: 0;
  background-image: url(../img/next.png);
}

.corp__swiper-dots {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate3d(-50%, 0, 0);
  z-index: 9;
}
.corp__swiper-dots__item {
  width: 30px;
  height: 2px;
  background: #fff;
  opacity: 0.3;
  float: left;
  cursor: pointer;
}
.corp__swiper-dots__item.active {
  opacity: 1;
}
.corp__swiper-dots__item + .corp__swiper-dots__item {
  margin-left: 8px;
}

.corp__swiper .swiper-pagination {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 20px;
  transform: translate3d(-50%, 0, 0);
  transition: opacity 0.3s;
  z-index: 10;
}

.corp__swiper .swiper-active-switch {
  opacity: 1;
}

.corp__swiper .swiper-pagination-bullet,
.corp__swiper .swiper-pagination-switch {
  margin-left: 12px;
  width: 35px;
  height: 4px;
  border-radius: 0;
  cursor: pointer;
  background: #fff;
  opacity: 0.3;
  display: inline-block;
}

.corp__swiper .swiper-active-switch {
  opacity: 0.7;
}

.ImgAndTextSwiper {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.ImgAndTextSwiper .corp__title {
  margin-bottom: 12px;
}
.ImgAndTextSwiper-swiper {
  background: #fff;
  padding: 0 60px;
  margin: auto;
  margin-top: 30px;
  position: relative;
}
.ImgAndTextSwiper-swiper.no-tab {
  padding: 0 40px;
}
.ImgAndTextSwiper-swiper.no-tab .ImgAndTextSwiper-tab__body {
  padding-top: 50px;
}
.ImgAndTextSwiper-swiper.no-tab .ImgAndTextSwiper-tab__thumb {
  width: 625px;
}
.ImgAndTextSwiper-swiper.no-tab .ImgAndTextSwiper-tab__caption {
  width: 345px;
}
.ImgAndTextSwiper-tab {
  display: block;
  padding: 25px 0 32px;
}
.ImgAndTextSwiper-tab:before,
.ImgAndTextSwiper-tab:after {
  content: " ";
  display: table;
}
.ImgAndTextSwiper-tab:after {
  clear: both;
}
.ImgAndTextSwiper-tab__item {
  color: #000;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-size: 16px;
}
.ImgAndTextSwiper-tab__item + .ImgAndTextSwiper-tab__item {
  margin-left: 50px;
}
.ImgAndTextSwiper-tab__item.active,
.ImgAndTextSwiper-tab__item:hover {
  color: #007cff;
}
.ImgAndTextSwiper-tab__body {
  padding-bottom: 52px;
}
.ImgAndTextSwiper-tab__body:before,
.ImgAndTextSwiper-tab__body:after {
  content: " ";
  display: table;
}
.ImgAndTextSwiper-tab__body:after {
  clear: both;
}
.ImgAndTextSwiper-tab__thumb {
  float: left;
  display: block;
  width: 576px;
  height: 377px;
}
.ImgAndTextSwiper-tab__thumb > img {
  display: block;
  width: 100%;
  height: 100%;
}
.ImgAndTextSwiper-tab__caption {
  float: right;
  width: 350px;
}
.ImgAndTextSwiper-tab__title {
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 10px;
}
.ImgAndTextSwiper-tab__txt {
  font-size: 14px;
  color: #000;
  line-height: 30px;
}
.ImgAndTextSwiper-tab__link {
  font-size: 13px;
  font-weight: 400;
  color: #007cff;
  line-height: 20px;
  display: block;
  margin-top: 20px;
}
.ImgAndTextSwiper .corp__swiper-pre,
.ImgAndTextSwiper .corp__swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 118px;
  background-position: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.ImgAndTextSwiper .corp__swiper-pre {
  left: 0;
  background-image: url(../img/prev.png);
}
.ImgAndTextSwiper .corp__swiper-next {
  right: 0;
  background-image: url(../img/next.png);
}
.ImgAndTextSwiper .moreLink img {
  vertical-align: middle;
  margin-left: 2px;
}
.ImgAndTextSwiper .swiper-slide-thumb-active {
  color: #007cff;
}
.ImgAndTextSwiper .corp__swiper-list {
  overflow: hidden;
}
.ImgAndTextSwiper .swiper-wrapper {
  height: auto !important;
}
.ImgAndTextSwiper .swiper-wrapper .swiper-slide {
  height: auto !important;
}

.ImgSwiper-tab {
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 30px;
}
.ImgSwiper-tab:before,
.ImgSwiper-tab:after {
  content: " ";
  display: table;
}
.ImgSwiper-tab:after {
  clear: both;
}
.ImgSwiper-tab__item {
  float: left;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  width: 136px !important;
  margin-right: 0 !important;
  text-align: center;
}
.ImgSwiper-tab__item.active {
  color: #007cff;
}
.ImgSwiper-tab__item.active .ImgSwiper-tab__label::after {
  content: " ";
  width: 100%;
  height: 2px;
  background: #007cff;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.ImgSwiper-tab__label {
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
}
.ImgSwiper-tab__body {
  display: block;
}
.ImgSwiper-tab__body > img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
}

.ImgSwiper .swiper-pagination {
  position: initial;
}

.ImgSwiper .swiper-nav .swiper-wrapper {
  display: block;
}

.ImgSwiper .swiper-nav .swiper-slide {
  display: inline-block;
}

.ImgSwiper .corp__swiper-list {
  overflow: hidden;
}

.ImgSwiper .swiper-slide-thumb-active .ImgSwiper-tab__label {
  color: #007cff;
}
.ImgSwiper .swiper-slide-thumb-active .ImgSwiper-tab__label::after {
  content: " ";
  width: 100%;
  height: 2px;
  background: #007cff;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.ImgSwiper .swiper-wrapper {
  height: auto !important;
}
.ImgSwiper .swiper-wrapper .swiper-slide {
  height: auto !important;
}

.ImgAndText {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.ImgAndText .corp__inner {
  background-repeat: no-repeat;
}
.ImgAndText__wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.ImgAndText__wrap:before,
.ImgAndText__wrap:after {
  content: " ";
  display: table;
}
.ImgAndText__wrap:after {
  clear: both;
}
.ImgAndText__txt {
  width: 50%;
  padding-left: 35px;
  display: table-cell;
  vertical-align: middle;
}
.ImgAndText__txt ul > li {
  list-style: inherit;
  margin-left: 20px;
}
.ImgAndText__img {
  width: 550px;
  height: 100%;
}
.ImgAndText__img > img {
  max-width: 100%;
}
.ImgAndText__title {
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 14px;
}
.ImgAndText__item {
  padding-left: 20px;
  position: relative;
  font-size: 14px;
  line-height: 30px;
}
.ImgAndText__item::before {
  content: " ";
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 12px;
}

.TextAndImg {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.TextAndImg .corp__inner {
  background-repeat: no-repeat;
}
.TextAndImg__txt {
  width: 50%;
  padding-left: 35px;
  display: table-cell;
  vertical-align: middle;
}
.TextAndImg__txt ul > li {
  list-style: inherit;
  margin-left: 20px;
}
.TextAndImg__wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.TextAndImg__wrap:before,
.TextAndImg__wrap:after {
  content: " ";
  display: table;
}
.TextAndImg__wrap:after {
  clear: both;
}
.TextAndImg__img {
  width: 550px;
  height: 100%;
}
.TextAndImg__img > img {
  max-width: 100%;
}
.TextAndImg__title {
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 14px;
}
.TextAndImg__item {
  padding-left: 20px;
  position: relative;
  font-size: 14px;
  line-height: 30px;
}
.TextAndImg__item::before {
  content: " ";
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 12px;
}

.sceneblock__left {
  float: left;
}
.sceneblock__left > img {
  display: block;
  width: 258px;
  height: 505px;
}

.sceneblock__right {
  float: right;
  padding-left: 42px;
  width: 800px;
}
.sceneblock__right-img {
  padding-top: 40px;
}
.sceneblock__right-img > img {
  width: 100%;
}
.sceneblock__right-btn {
  font-size: 14px;
  padding: 11px 24px;
  color: #fff;
  background: #007cff;
  margin-top: 30px;
  display: inline-block;
}

.ImgAndButton__txt {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 40px;
}

.ImgAndButton__img {
  display: block;
  width: 100%;
}

.ImgAndButton__btnwrap {
  text-align: center;
  margin-top: 30px;
}

.ImgAndButton__btn {
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid #007cff;
  color: #007cff;
  font-size: 16px;
}

.IconAndTextUpDown {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.IconAndTextUpDown-list {
  margin: auto;
  border-collapse: initial;
  border-spacing: 0;
  table-layout: fixed;
}
.IconAndTextUpDown-list + .IconAndTextUpDown-list {
  margin-top: 10px;
}
.IconAndTextUpDown-list td {
  text-align: center;
  vertical-align: middle;
  padding: 8px;
}
.IconAndTextUpDown__info {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: justify;
}
.IconAndTextUpDown-item {
  height: 200px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 30px 12px;
}
.IconAndTextUpDown-icon {
  float: left;
  display: block;
  margin: auto;
  width: 72px;
  text-align: center;
}
.IconAndTextUpDown-icon > img {
  display: inline-block;
}
.IconAndTextUpDown-con {
  float: left;
  display: inline-block;
  text-align: left;
  width: calc(100% - 82px);
  margin-left: 10px;
}
.IconAndTextUpDown-title {
  font-size: 24px;
}
.IconAndTextUpDown-subtitle {
  font-size: 15px;
  margin-top: 4px;
}
.IconAndTextUpDown-txt {
  font-size: 13px;
  line-height: 24px;
  margin: 8px 0;
}
.IconAndTextUpDown-txt p {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 56px;
}
.IconAndTextUpDown-txt ul {
  display: inline-block;
}
.IconAndTextUpDown-txt ul li {
  list-style: inherit;
}
.IconAndTextUpDown-link {
  font-size: 13px;
  color: #007cff;
  margin-top: 16px;
}
.IconAndTextUpDown-link:hover {
  color: #007cff;
}
.IconAndTextUpDown .moreLink img {
  vertical-align: middle;
  margin-left: 2px;
}
.IconAndTextUpDown-more {
  text-align: center;
  margin-top: 50px;
}
.IconAndTextUpDown-more > a {
  display: inline-block;
  padding: 9px 20px;
  border: 1px solid #007cff;
  color: #007cff;
  font-size: 16px;
}

.casethumb {
  background-position: 50%;
  background-repeat: no-repeat;
}
.casethumb-list {
  margin: auto;
  border-collapse: initial;
  border-spacing: 0;
  table-layout: fixed;
}
.casethumb-list:before,
.casethumb-list:after {
  content: " ";
  display: table;
}
.casethumb-list:after {
  clear: both;
}
.casethumb-list td {
  text-align: center;
  vertical-align: middle;
  padding: 0 8px;
}
.casethumb-more {
  text-align: center;
  margin: 22px auto 0px;
}
.casethumb-more > a {
  font-size: 12px;
  color: #007cff;
}
.casethumb-item {
  width: 336px;
  height: 324px;
  float: left;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.casethumb-item + .casethumb-item {
  margin-left: 44px;
}
.casethumb-thumb {
  height: 200px;
  display: block;
}
.casethumb-thumb > img {
  display: block;
  width: 100%;
  height: 100%;
}
.casethumb-caption {
  padding: 16px;
}
.casethumb-title {
  font-weight: 400;
  color: #000000;
  line-height: 23px;
  font-size: 18px;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.casethumb-tags {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.casethumb-tag {
  display: inline-block;
  font-size: 12px;
  color: #9b9b9b;
  line-height: 16px;
  margin-right: 12px;
}
.casethumb-link {
  font-size: 12px;
  font-weight: 400;
  color: #007cff;
  line-height: 18px;
  margin-top: 16px;
  display: block;
}
.casethumb-link a {
  color: #007cff;
}
.casethumb-link a:hover {
  color: #007cff;
}
.casethumb-link img {
  display: inline-block;
  vertical-align: middle;
}
.casethumb .moreLink img {
  vertical-align: middle;
  margin-left: 2px;
}

.ImgList {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.ImgList__list {
  border-collapse: initial;
  border-spacing: 15px;
  table-layout: fixed;
  width: 100%;
}
.ImgList__item {
  position: relative;
}
.ImgList__item:hover .ImgList__item-qrcode {
  display: block;
}
.ImgList__item-thumb {
  display: block;
  position: relative;
}
.ImgList__item-cover {
  display: block;
  width: 100%;
}
.ImgList__item-qrcode {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.ImgList__item-qrcode-wrap {
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}
.ImgList__item-qrcode-tip {
  display: table-cell;
  vertical-align: middle;
}
.ImgList__item-qrcode-tip > img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}
.ImgList__item-qrcode-tip > p {
  font-size: 16px;
  color: #fff;
  line-height: 30px;
}
.ImgList__item-caption {
  border-top: none;
  padding: 10px 15px;
  font-size: 16px;
  text-align: left;
}
.ImgList__item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ImgList__item-more {
  font-size: 12px;
  font-weight: 400;
  color: #007cff;
  line-height: 18px;
  margin-top: 16px;
  display: block;
  cursor: pointer;
  margin: 20px 0;
}
.ImgList__item-more img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}
.ImgList td {
  text-align: center;
  vertical-align: middle;
}

.home__banner {
  height: 580px;
  position: relative;
  overflow: hidden;
}
.home__banner .corp__swiper-dots {
  bottom: 145px;
}
.home__banner .single-banner .corp__inner {
  height: 580px;
  overflow: hidden;
}
.home__banner .single-banner-body {
  height: 460px;
}
.home__banner-body {
  height: 580px;
  position: relative;
  overflow: hidden;
}
.home__banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home__banner-title {
  font-size: 60px;
  color: #fff;
  line-height: 2;
  padding-top: 100px;
}
.home__banner-subtitle {
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
}
.home__banner-linkbtn {
  display: block;
  width: 104px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #007cff;
  margin-top: 44px;
}
.home__banner-linkbtn:hover {
  color: #fff;
  background: #007cff;
}
.home__banner-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  overflow: hidden;
}
.home__banner-nav .corp__inner {
  overflow: hidden;
}
.home__banner-nav__item {
  width: 25%;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
  box-sizing: border-box;
  padding: 20px 25px 25px;
  display: block;
  height: 120px;
}
.home__banner-nav__item:hover {
  background: white;
}
.home__banner-nav__title {
  font-size: 18px;
  color: #000000;
  margin-bottom: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home__banner-nav__title::after {
  content: " ";
  width: 40px;
  height: 2px;
  background: #007cff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.home__banner-nav__txt {
  font-size: 14px;
  color: #000000;
}
.home__banner .swiper-wrapper,
.home__banner .swiper-slide {
  height: auto !important;
  width: 100%;
}
.home__banner .BannerAndButton-banner-body {
  height: 460px;
}
.home__banner .BannerAndButton-banner .corp__inner {
  height: 580px;
}
.home__banner .swiper-pagination {
  left: 50% !important;
  bottom: 140px !important;
}

.home__title {
  font-size: 30px;
  font-weight: bold;
  padding-top: 60px;
  text-align: center;
}

.home__subtitle {
  font-size: 18px;
  margin-top: 16px;
  text-align: center;
}

.home__product {
  background-size: cover;
}
.home__product-list {
  overflow: hidden;
  margin-left: -18px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.home__product-item {
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 261px;
  height: 324px;
  padding: 30px 25px;
  float: left;
  margin-left: 18px;
}
.home__product-icon {
  width: 72px;
  height: 72px;
  display: block;
  margin: auto;
}
.home__product-icon > img {
  display: block;
}
.home__product-title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 38px;
}
.home__product-subtitle {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}
.home__product-txt {
  font-size: 14px;
  line-height: 2;
  margin-top: 4px;
  margin-bottom: 10px;
}
.home__product-link {
  font-size: 13px;
  color: #007cff;
  margin-top: 16px;
}
.home__product-link:hover {
  color: #007cff;
}

.home__solution {
  background: url(./imgs/product_bg.png) no-repeat 50%;
  background-size: cover;
  padding-bottom: 80px;
}

.home__case-list {
  margin-top: 40px;
}
.home__case-list:before,
.home__case-list:after {
  content: " ";
  display: table;
}
.home__case-list:after {
  clear: both;
}

.home__case-more {
  text-align: center;
  margin: 22px auto 45px;
}
.home__case-more > a {
  font-size: 12px;
  color: #007cff;
}

.home__case-item {
  width: 336px;
  height: 324px;
  float: left;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.home__case-item + .home__case-item {
  margin-left: 44px;
}

.home__case-thumb {
  height: 200px;
  display: block;
}
.home__case-thumb > img {
  display: block;
  width: 100%;
  height: 100%;
}

.home__case-caption {
  padding: 16px;
}

.home__case-title {
  font-weight: 400;
  color: #000000;
  line-height: 23px;
}

.home__case-tags:before,
.home__case-tags:after {
  content: " ";
  display: table;
}

.home__case-tags:after {
  clear: both;
}

.home__case-tag {
  display: inline-block;
  font-size: 12px;
  color: #9b9b9b;
}
.home__case-tag + .home__case-tag {
  margin-left: 14px;
}

.home__case-link {
  font-size: 12px;
  font-weight: 400;
  color: #007cff;
  line-height: 18px;
}

.home__customer {
  padding-bottom: 80px;
}
.home__customer .home__title {
  margin-bottom: 50px;
}
.home__customer-tab {
  border-bottom: 2px solid #d8d8d8;
  margin-bottom: 30px;
}
.home__customer-tab:before,
.home__customer-tab:after {
  content: " ";
  display: table;
}
.home__customer-tab:after {
  clear: both;
}
.home__customer-tab__item {
  float: left;
  font-size: 18px;
  margin: 0 45px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.home__customer-tab__item.active {
  color: #007cff;
}
.home__customer-tab__item.active::after {
  content: " ";
  width: 100%;
  height: 2px;
  background: #007cff;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.home__customer-tab__body {
  display: block;
}
.home__customer-tab__body > img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.home__start {
  background: url(./imgs/start_bg.png) no-repeat 50%;
  background-size: cover;
  padding: 90px 0;
}
.home__start .home__title {
  padding-top: 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
}
.home__start-btn {
  color: #fff;
  background: #007cff;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  width: 114px;
  height: 34px;
  line-height: 34px;
  display: block;
  margin: 28px auto 0;
}

.home .IconAndTextUpDown {
  background: #fff !important;
}

.home .ImgSwiper {
  background-color: #fff !important;
}

.home .ImgAndTextSwiper {
  background-color: #fff !important;
}
.home .ImgAndTextSwiper .corp__title,
.home .ImgAndTextSwiper .corp__subtitle {
  color: #fff;
}

.home .IconAndTextUpDown-item {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
}

.home .casethumb-list td {
  text-align: left;
}

.home .casethumb {
  background-color: whitesmoke !important;
}
.home .casethumb-item {
  background: #fff;
}
