* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box; }
  *:focus {
    outline: none; }

a, a:focus, a:hover, a:active, a:visited {
  text-decoration: none; }

img, button {
  border: none;
  vertical-align: top; }

ol, ul, li {
  list-style: none; }

input, textarea {
  outline: none;
  font-family: 'Microsoft YaHei', 'PingFangSC', 'HelveticaNeue' !important; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body {
  font-size: 12px;
  font-family: 'Microsoft YaHei', 'PingFangSC', 'HelveticaNeue' !important; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; }
