.met-langlist li{display: inline-block;list-style: none;}
.met-langlist .btn-lang .flag-icon{margin-right:3px;}
.met-langlist .dropdown-menu{min-width:0;width: 100%;}
.met-langlist .dropdown-menu .dropdown-item{white-space:nowrap;}
@media (max-width:479px){
	.met-langlist .btn-lang{padding-left:5px;padding-right:5px;}
}
#met-langlist-modal .modal-body .close{position:absolute;right:10px;top:0px;}
#met-langlist-modal a.btn{border:none;font-size:16px;height:50px;line-height:50px;}
#met-langlist-modal .flag-icon{margin-right:8px;top:7px;font-size:30px;}@charset "utf-8";
/* è¯¦æƒ…é¡µ-é€šç”¨ */
 .met-shownews{background:;}
 .met-shownews{
	padding: 30px 0;
	background: ;
}
 .met-shownews .met-shownews-body{
	background: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
  .details-title{padding:20px;}
  .details-title h1{font-size:30px;line-height:1.5;color: #027938;}
  .details-title h1{color: #027938;}
  .details-title .info{font-size:16px;color:#027938;}
  .details-title .info{color:#999999;}
  .details-title .info span{padding-right:10px;}
  .met-editor {padding: 30px; width: 100%; max-width: 100%; font-size: 18px; font-weight: 300; line-height: 1.8; color: #222; word-wrap: break-word; } 
@media (max-width:767px){
     .met-shownews{padding:0;}
      .met-editor{padding:15px;}
	  .details-title{padding:10px;}
	  .details-title h1{font-size:24px;}
	  .details-title .info{font-size:14px;}
}
@media (max-width:349px){
	  .details-title h1{font-size:20px;}
}

.tag{font-size:14px;color:#666;padding:0 30px 30px;}
.tag a{color:#666;padding:5px;}
.tag a:hover{color:#082403;color:#027938;}
.met-page{padding-top:0 !important;}
.met-page a:hover{color:#082403 !important;color:#027938 !important;}
.met-page .pagination li a{white-space: nowrap;text-overflow: ellipsis;
    overflow: hidden;}@charset "utf-8";
/* ä¾§æ  */
.sidebar_met_16_1.met-sidebar{margin-left:30px;padding: 20px;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);}
@media (max-width:991px){
	.sidebar_met_16_1.met-sidebar{margin-left:10px;margin-top:0px;}
}
@media (max-width:767px){
	.sidebar_met_16_1.met-sidebar{margin-top:15px;margin-left:0;margin-top: 0;}
}
.sidebar_met_16_1.met-sidebar >:not(:first-child){margin:20px 0 0;padding:20px 0 0;border-top:1px solid #f0f2f5;}
.sidebar_met_16_1 .leftsidebar{margin-left:0!important;margin-right:30px;}
@media (max-width:991px){
	.sidebar_met_16_1 .leftsidebar{margin-right:0px;}
}
.sidebar_met_16_1 .sidebar-column li a{display:block;font-size:16px;}
.sidebar_met_16_1 .sidebar-column li i{float:right;margin-top:2px;font-size:14px;}
.sidebar_met_16_1 .sidebar-column li ul a{font-size:14px;}
.sidebar_met_16_1 .sidebar-news-list h3{color:#027938;}
.sidebar_met_16_1 .sidebar-news-list h3{color:#000000;}
.sidebar_met_16_1 .sidebar-news-list .list-group a{color:#027938;color:#000000;}

.sidebar_met_16_1 .sidebar-column li a{color:#027938;}
.sidebar_met_16_1 .sidebar-column li a{color:#000000;}

.sidebar_met_16_1 .sidebar-column li a:hover,.sidebar_met_16_1 .sidebar-column li a.active{color:#082403;color:#027938;}
.sidebar_met_16_1 .sidebar-news-list li a:hover{color: #082403;color:#027938;}
.sidebar_met_16_1 .form-control.focus,.sidebar_met_16_1 .form-control:focus{border-color: #082403;color:#027938;}