@model List<DanaZhangCms.Models.Article>
@{
    ViewData["Title"] = "新闻中心";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var type=  ViewBag.CategoryId;
    var name = ViewBag.CategoryName;

}
@section css{

    <link href="~/css/new/list/learning.css" rel="stylesheet" />
}
<div class="whole_list" style="padding-top: 80px;">
    <div class="common_containe">
        <div class="list_top">
            <i></i>
            <a href="/home">首页 > </a>

            @if (type == 4)
            {
                <a href="/article">学术交流 </a>
            }
            else if (type == 7)
            {
                <a href="/article/Scient">科研标准 </a>
            }
         
        </div>

        <div class="list_main common_containe">
            <ul class="pageMain">
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <li>
                            <div class="list_current">
                                <div class="">
                                    <span>
                                        <a href="@(Url.Action("Detail","Article",new { id=item.Id}))">
                                            <div class="img_box">
                                                <img src="@item.ImgUrl">
                                            </div>
                                            <p>@item.Title</p>
                                            <span>@item.CreatedDate</span>
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </li>

                      
                    }
                }

            </ul>
            <div class="pageBox">
                <span class="prev">上一页</span>
                <ul class="pageNav"></ul>
                <span class="next">下一页</span>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    
    <script src="~/js/new/list/learning.js"></script>

}
