@model DanaZhangCms.ViewModels.HomeVM
@{

}
@section css{
    <link rel="stylesheet" type="text/css" href="/css/new/index.css" />
    <link rel="stylesheet" type="text/css" href="css/new/swiper.min.css" />
}
<div class="whole">
    <!-- banner -->
    <div class="banner">
        <div class="common_containe">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    @if (Model.Banners != null && Model.Banners.Any())
                    {
                        foreach (var item in Model.Banners)
                        {
                            <div class="swiper-slide">
                                <div class="slide-left">
                                    <div class="bt">@item.Name </div>
                                    <span>@item.Summary</span>
                                    <a class="readMore" target="_blank" href="@item.LinkUrl">阅读更多</a>
                                </div>
                                <div class="slide-right">
                                    <img src="@item.ImgUrl">
                                </div>
                            </div>
                        }

                    }
                    @*<div class="swiper-slide">
                            <div class="slide-left">
                                <div class="bt">6666 顶空进样器 </div>
                                <span>为挥发性化合物的分析提供完整的智能互联系统。</span>
                                <div class="readMore">阅读更多</div>
                            </div>
                            <div class="slide-right">
                                <img src="images/banner1.jpeg">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-left">
                                <div class="bt">7777 顶空进样器 </div>
                                <span>为挥发性化合物的分析提供完整的智能互联系统。</span>
                                <div class="readMore">阅读更多</div>
                            </div>
                            <div class="slide-right">
                                <img src="images/banner2.jpeg">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-left">
                                <div class="bt">88888 顶空进样器 </div>
                                <span>为挥发性化合物的分析提供完整的智能互联系统。</span>
                                <div class="readMore">阅读更多</div>
                            </div>
                            <div class="slide-right">
                                <img src="images/banner3.jpeg">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-left">
                                <div class="bt">9999 顶空进样器 </div>
                                <span>为挥发性化合物的分析提供完整的智能互联系统。</span>
                                <div class="readMore">阅读更多</div>
                            </div>
                            <div class="slide-right">
                                <img src="images/banner1.jpeg">
                            </div>
                        </div>*@
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </div>
    <!-- 热卖详情 -->
    <div class="hotSell common_containe">
        <div class="index_title">
            <div class="title">{{titleArry[0].chinese}}</div>
            <div class="main">
                <span>{{titleArry[0].english}}</span>
                <div class="more">
                    <a href="list/productList.html" target="_blank">
                        <span>更多</span>
                        <img src="images/to1.png">
                    </a>
                </div>

            </div>

        </div>
        <div class="content">
            <ul>
                <li v-for="item in hotSellArry">
                    <a href="details/product_details.html" target="_blank">
                        <img class="goods_img" :src="item.img">
                        <span>{{item.text}}</span>
                        <p>{{item.english}}</p>
                        <img class="hot" v-show="item.flag" src="images/sale.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 简介 -->
    <div class="introduce_bj">
        <div class="introduce common_containe">
            <div class="in_left">
                <div class="index_title">
                    <div class="title">{{titleArry[1].chinese}}</div>
                    <div class="main">
                        <span>{{titleArry[1].english}}</span>
                    </div>
                </div>
                <p>建研华测（杭州）科技有限公司是一家专业从事混凝土3D打印和高端测试仪器设备开发、生产和销售的国家高新技术企业。
                生产研发基地设在杭州萧山区和沈阳浑南高新技术开发区。公司的主要产品有：混凝土3D打印系统、高性能低场磁共振微观分析仪、
                全自动混凝土凝结时间测定仪、混凝土冻融试验机、混凝土碳化箱、非接触式混凝土收缩变形测定仪、钢筋混凝土电化学腐蚀测试仪、
                混凝土热物理参数测定仪、混凝土气体渗透测试仪、混凝土温度-应力试验机、工业内窥镜、硬化混凝土气孔结构分析仪等...</p>
                <div class="btn"><a href="list/introduce.html" target="_blank"><img src="images/to.png"></a></div>
            </div>
            <div class="in_right">
                <img class="leftop" src="images/leftop.png">
                <img src="images/about.png">
                <img class="rightdown" src="images/rightdown.png">
            </div>
        </div>
    </div>
    <!-- 精彩视频 -->
    <div class="vedio">
        <div class="common_containe">
            <div class="index_title">
                <div class="title">{{titleArry[2].chinese}}</div>
                <div class="main">
                    <span>{{titleArry[2].english}}</span>
                    <div class="more">
                        <a href="list/learning.html" target="_blank">
                            <span>更多</span>
                            <img src="images/to1.png">
                        </a>
                    </div>
                </div>
            </div>


            <div class="vedio_container swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" v-for="item in vedioArry">
                        <div class="slide_main">
                            <img :src="item.img">
                            <div class="mainP">{{item.text}}</div>
                            <span>{{item.time}}</span>
                        </div>
                    </div>

                </div>

            </div>

            <div class="vedio_more"><a href="list/video.html" target="_blank">查看更多视频</a></div>

        </div>
    </div>
    <!-- 学术交流 -->
    <div class="learning common_containe">
        <div class="index_title">
            <div class="title">{{titleArry[3].chinese}}</div>
            <div class="main">
                <span>{{titleArry[3].english}}</span>
                <div class="more">
                    <a href="list/learning.html" target="_blank">
                        <span>更多</span>
                        <img src="images/to1.png">
                    </a>
                </div>
            </div>
        </div>
        <ul class="learning-box">
            <li v-for="item in learningArry">
                <img :src="item.img">
                <div class="main">
                    <div class="title">{{item.title}}</div>
                    <div class="neirong">{{item.jieshao}}</div>
                </div>
                <div class="mengceng"></div>
            </li>
        </ul>
    </div>
    <!-- 合作机构 -->
    <div class="cooperative common_containe">
        <div class="index_title">
            <div class="title">{{titleArry[4].chinese}}</div>
            <div class="main">
                <span>{{titleArry[4].english}}</span>
                <div class="more">
                    <a href="list/learning.html" target="_blank">
                        <span>更多</span>
                        <img src="images/to1.png">
                    </a>
                </div>
            </div>
        </div>
        <ul>
            <li v-for="item in cooperativeArry"><img :src="item"></li>
        </ul>
    </div>

</div>


@section Scripts{
    <script src="/js/new/swiper.min.js" type="text/javascript"></script>
    <script src="/js/new/index.js" type="text/javascript"></script>
}
