*{margin: 0;padding:0;border:0;}
ul,li{list-style: none;}
a{text-decoration:none}
img{display: block;}
.common_containe{max-width: 1140px;margin: 0 auto;overflow: hidden;}
.details_whole{padding-top: 20px;}
.det_title{display: flex;flex-direction: row;align-items: baseline;margin-bottom: 35px;}
.det_title div{font-size: 18px;color: #333333;}
.det_title span{color: #999999;font-size: 15px;padding-left: 8px;}
/* 导航 */
.details_nav{width: 100%;border-bottom: 1px solid #999;}
.nav_style{position: fixed;top: 75px;left: 0;background: #fff;z-index: 111;}
.details_nav>div,.details_nav>div .right ul{display: flex;flex-direction: row;align-items: center;}
.details_nav>div{justify-content: space-between;height: 40px;}
.details_nav>div .right ul li{width: 100px;height:25px;line-height: 25px;text-align: center;border-right:1px solid #999;border-bottom: 3px solid #fff;position: relative;}
.details_nav>div .right ul li:nth-child(1){}
.details_nav>div .right ul li:hover::after,.details_nav ul li.active::after{background:#FEAF17;width:100%;height: 3px;content: '';position: absolute;bottom:-10px;left:0;}

/* banner */
.det_banner>div{position: relative;}
.det_banner img{width: 100%;}
.det_banner .swiper-container{width: 800px;height: 600px;}
.det_banner .swiper-button-next,.det_banner .swiper-button-prev{width: 40px;}
.det_banner .swiper-button-next{background-image: url("../../images/details/jian_right.png");background-size: 100%;}
.det_banner .swiper-button-prev{background-image: url("../../images/details/jian_left.png");background-size: 100%;}

/* 产品视频 */
.goods_video{width:100%;background: #E5E8EE;padding: 42px 0;}
.goods_video .play{width: 60px;
height: 60px;position: absolute;top: 50%;margin-top: -30px;left: 50%;margin-left: -30px;}
.goods_video p{position: absolute;bottom:0;left:0;width:98%;background: rgba(0,0,0,0.8);color: #FFFFFF;line-height: 40px;font-size: 14px;padding-left: 2%;}
.goods_video ul{display: flex;flex-direction: row;justify-content: space-between;}
.goods_video ul li{max-height: 300px;width: 540px;position: relative;}
.goods_video ul li img{width:100%;}
.goods_video ul li .v_shipin{width: 100%;height:100%;background: rgba(0,0,0,0.4);position: fixed;top:0;left:0;z-index: 10;display: none;}
.goods_video ul li .v_main{width:800px;height:400px;position: fixed;top: 50%;left:50%;margin-top: -200px;margin-left: -400px;z-index: 11;display: none;}
.goods_video ul li .v_main video{background: #000;}

/* 技术参数 */
.parameter{padding: 40px 0;}
.par_main{width:100%;border-bottom: 1px solid #999;}
.par_main>div{display:flex;flex-direction: row;}
.par_main .one{border-top: 1px solid #999;}
.par_main .one h3{font-weight: normal;width: 20%;padding: 20px 0 20px 20px;border-right: 1px solid #999999;}
.par_main .one div{width: 80%;padding: 20px 0 20px 20px;}
.par_main .one div p{color: #707070 !important;font-size: 15px;background: #ffffff !important;line-height: 1.5;}
/* 细节亮点 */
.Highlights{padding: 30px 0;background: rgb(229, 232, 238) none repeat scroll 0% 0%;}
.Highlights .det_title{margin-bottom: 0;}
.Highlights img{width: 100%;}



