<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>建研华测</title>
	<script src="js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="js/vue.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="js/style.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	<script src="js/swiper.min.js" type="text/javascript"></script>
	
</head>
<body>
	<div class="whole">
		<!-- 导航 -->
		<div class="nav">
			<div class="common_containe">
				<div class="logo">
					<img src="images/logo1.png" >
				</div>
				<div class="list">
					<ul>
						<li>
							<a href="#">
								<span>混凝土(砂浆)3D打印系统</span>
							</a>
							<div class="list_current">
								<div class="common_containe">
									<span v-for="item in navObject.yi">
										<a href="#">
											<div class="img_box">
												<img :src="item.img" >													<img v-show="item.flag" class="hot" src="images/sale.png" >
											</div>
											<p>{{item.text}}</p>
										</a>
									</span>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#">
								<span>混凝土耐久性测试仪器</span>
							</a>
							<div class="list_current">
								<div class="common_containe">
									<span v-for="item in navObject.er">
										<a href="#">
											<div class="img_box">
												<img :src="item.img" >													<img v-show="item.flag" class="hot" src="images/sale.png" >
											</div>
											<p>{{item.text}}</p>
										</a>
									</span>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#">
								<span>特殊性能高端测试仪器</span>
							</a>
							<div class="list_current">
								<div class="common_containe">
									<span v-for="item in navObject.san">
										<a href="#">
											<div class="img_box">
												<img :src="item.img" >													<img v-show="item.flag" class="hot" src="images/sale.png" >
											</div>
											<p>{{item.text}}</p>
										</a>
									</span>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#">
								<span>建材常规实验设备</span>
							</a>
							<div class="list_current">
								<div class="common_containe">
									<span v-for="item in navObject.si">
										<a href="#">
											<div class="img_box">
												<img :src="item.img" >													<img v-show="item.flag" class="hot" src="images/sale.png" >
											</div>
											<p>{{item.text}}</p>
										</a>
									</span>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#">
								<span>合作研发</span>
							</a>
							<div class="list_current">
								<div class="common_containe">
									<span v-for="item in navObject.wu">
										<a href="#">
											<div class="img_box">
												<img :src="item.img" >													<img v-show="item.flag" class="hot" src="images/sale.png" >
											</div>
											<p>{{item.text}}</p>
										</a>
									</span>
								</div>
								
							</div>
						</li>
						<li>
							<a href="#">
								<span>联系我们</span>
							</a>
							<div class="lianxi">
								<span>公司简介</span>
								<span>公司优势</span>
								<span>服务客户</span>
								<span>学术交流</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="search">
					<p><img src="images/sousuo.png" ></p>
					<input type="text"  />
					<div>En</div>
				</div>
			</div>
		</div>
		<!-- banner -->
		<div class="banner">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slide-left">
							<div class="bt">6666 顶空进样器 </div>
							<span>为挥发性化合物的分析提供完整的智能互联系统。</span>
							<div class="readMore">阅读更多</div>
						</div>
						<div class="slide-right">
							<img src="images/banner1.jpeg" >
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-left">
							<div class="bt">7777 顶空进样器 </div>
							<span>为挥发性化合物的分析提供完整的智能互联系统。</span>
							<div class="readMore">阅读更多</div>
						</div>
						<div class="slide-right">
							<img src="images/banner2.jpeg" >
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-left">
							<div class="bt">88888 顶空进样器 </div>
							<span>为挥发性化合物的分析提供完整的智能互联系统。</span>
							<div class="readMore">阅读更多</div>
						</div>
						<div class="slide-right">
							<img src="images/banner3.jpeg" >
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-left">
							<div class="bt">9999 顶空进样器 </div>
							<span>为挥发性化合物的分析提供完整的智能互联系统。</span>
							<div class="readMore">阅读更多</div>
						</div>
						<div class="slide-right">
							<img src="images/banner4.png" >
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</div>
		<!-- 热卖详情 -->
		<div class="hotSell common_containe">
			<div class="index_title">
				<div class="title">{{titleArry[0].chinese}}</div>
				<div class="main">
					<span>{{titleArry[0].english}}</span>
					<div class="more">
						<span>更多</span>
						<img src="images/to1.png" >
					</div>
					
				</div>
				
			</div>
			<div class="content">
				<ul>
					<li v-for="item in hotSellArry">
						<img class="goods_img" :src="item.img" >
						<span>{{item.text}}</span>
						<p>{{item.english}}</p>
						<img class="hot" v-show="item.flag" src="images/sale.png" >
					</li>
				</ul>
			</div>
		</div>
		<!-- 简介 -->
		<div class="introduce common_containe">
			<div class="in_left">
				<div class="index_title">
					<div class="title"></div>
					<div class="main"　style="margin-top: 50px;">
						<span>{{titleArry[1].english}}</span>
					</div>
				</div>
				<p>建研华测（杭州）科技有限公司是一家专业从事混凝土3D打印和高端测试仪器设备开发、生产和销售的国家高新技术企业。生产研发基地设在杭州萧山区和沈阳浑南高新技术开发区。公司的主要产品有：混凝土3D打印系统、高性能低场磁共振微观分析仪、全自动混凝土凝结时间测定仪、混凝土冻融试验机、混凝土碳化箱、非接触式混凝土收缩变形测定仪、钢筋混凝土电化学腐蚀测试仪、混凝土热物理参数测定仪、混凝土气体渗透测试仪、混凝土温度-应力试验机、工业内窥镜、硬化混凝土气孔结构分析仪等...</p>
				<div class="btn"><img src="images/to.png" ></div>
			</div>
			<div class="in_right">
				<img class="leftop" src="images/leftop.png" >
				<img src="images/about.png" >
				<img class="rightdown" src="images/rightdown.png" >
			</div>
		</div>
		<!-- 精彩视频 -->
		<div class="vedio">
			<div class="common_containe">
				<div class="index_title">
					<div class="title">{{titleArry[2].chinese}}</div>
					<div class="main">
						<span>{{titleArry[2].english}}</span>
						<div class="more">
							<span>更多</span>
							<img src="images/to1.png" >
						</div>
					</div>
				</div>
				
				
				<div class="vedio_container swiper-container">
				    <div class="swiper-wrapper">
				        <div class="swiper-slide" v-for="item in vedioArry">
							<div class="slide_main">
								<img :src="item.img" >
								<div class="mainP">{{item.text}}</div>
								<span>{{item.time}}</span>
							</div>
						</div>
				        
				    </div>
				    
				</div> 
				
				<div class="vedio_more"><a href="#">查看更多视频</a></div>
					
			</div>
		</div>
		<!-- 学术交流 -->
		<div class="learning common_containe">
			<div class="index_title">
				<div class="title">{{titleArry[3].chinese}}</div>
				<div class="main">
					<span>{{titleArry[3].english}}</span>
					
				</div>
			</div>
			<ul class="learning-box">
				<li v-for="item in learningArry">
					<img :src="item.img" >
					<div class="main">
						<div class="title">{{item.title}}</div>
						<div class="neirong">{{item.jieshao}}</div>
					</div>
					<div class="mengceng"></div>
				</li>
			</ul>
		</div>
		<!-- 合作机构 -->
		<div class="cooperative common_containe">
			<div class="index_title">
				<div class="title">{{titleArry[4].chinese}}</div>
				<div class="main">
					<span>{{titleArry[4].english}}</span>
					<div class="more">
						<span>更多</span>
						<img src="images/to1.png" >
					</div>
				</div>
			</div>
			<ul>
				<li v-for="item in cooperativeArry"><img :src="item" ></li>
			</ul>
		</div>
		<!-- 底部 -->
		<div class="zixun">
		    <p>咨询热线：   010-82755175</p>
		</div>
		<div class="footer_main">
			<div class="foot_box common_containe">
				<div class="foot_left">
					<dl>
						<dt>售前咨询</dt>
						<dd><a href="#">产品咨询</a></dd>
						<dd><a href="#">服务咨询</a></dd>
						<dd><a href="#">合作咨询</a></dd>
					</dl>
					<dl>
						<dt>售后服务</dt>
						<dd><a href="#">安装培训</a></dd>
						<dd><a href="#">维修保养</a></dd>
						<dd><a href="#">资料下载</a></dd>
					</dl>
					<dl>
						<dt>新闻动态</dt>
						<dd><a href="#">学术交流</a></dd>
						<dd><a href="#">科研标准</a></dd>
						<dd><a href="#">学术交流</a></dd>
					</dl>
					<dl>
						<dt>关于我们</dt>
						<dd><a href="#">了解冠力</a></dd>
						<dd><a href="#">公司荣誉</a></dd>
						<dd><a href="#">加入我们</a></dd>
					</dl>
					<dl>
						<dt>媒体矩阵</dt>
						<dd><a href="#">微信公众号</a></dd>
						<dd><a href="#">搜狐号</a></dd>
						<dd><a href="#">抖音号</a></dd>
					</dl>
				</div>
				<div class="foot_right">
					<img src="images/ewm.jpg" >
					<span>关注官方微信</span>
				</div>
			</div>
			
		</div>
		<div class="foot_wrap">
		    <div class="footer">
		        
					<ul>
						<li>
							<div><img src="images/sign1.png"></div>
							<span>国家高新技术企业</span>
						</li>
						<li>
							<div><img src="images/sign2.png"></div>
		                    <span>杭州市高新技术企业</span></li>
						<li>
							<div><img src="images/sign3.png"></div>
							<span>ISO9001认证</span>
						</li>
						
					</ul>
		            <div class="right">
		                <p><a style="color:white" href="http://beian.miit.gov.cn">版权所有 © 建研华测（杭州）科技有限公司 浙ICP备20006756号-1 </a></p>
		
		                <p>地址：萧山区南秀路3089号新塘科创园1号楼4层     &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;邮编：311200</p>
		                <p>
		                    联系电话：0571-82755615&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 传真：0571-82155463
		                </p>
		            </div>
		        
		    </div>
		</div>
		
	</div>
	

</body>
</html>