body,div,span,p,em,ul,li,h1,h2,h3,dl,dt,dd,img,header,footer,nav,section,article,video,aside,dialog,figure,figcaption,time{margin:0;padding:0;border:0 none; outline:none;}
body {font-family:sans-serif "Microsoft YaHei";-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;margin: 0 auto;}
ul,li{list-style: none;}
input{border: 0;background: none;}

a{text-decoration: none;color:inherit;}
.clearfix:after{ clear:both; display:block; visibility:hidden; height:0; line-height:0; content:'';}
.clearfix{ zoom:1;}
.contact_whole{width: 100%;max-width: 29rem;margin: 0 auto;padding: 6rem 0 7rem;}
.contact_whole img{width: 100%;display: block;}

.list_top{padding-bottom: 1rem;display: flex;flex-direction: row;align-items: center;border-bottom: 1px solid #E1E1E1;}
.list_top i{ width: 0;height: 0;border-top: 0.6rem solid transparent;border-left: 0.5rem solid #007AFF;border-bottom: 0.6rem solid transparent;margin-right: 0.5rem;}
.list_top a{color: #000;margin-left:0.25rem;font-size:1.3rem;display: contents;}
.list_top a:hover{color: #007AFF;}

.contact_whole .contact_main{margin-top: 1rem;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.contact_whole .contact_main .left{width: 100%;}
.contact_whole .contact_main .left .address{display: flex;flex-direction: column;color: #333333;border-bottom: 1px solid #999;padding-bottom: 1rem;}
.contact_whole .contact_main .left .address img{width: 1rem;}
.contact_whole .contact_main .left h2{font-size: 1.4rem;font-weight: normal;width:100%;}
.contact_whole .contact_main .left .address div{display: flex;flex-direction: row;align-items: center;margin-top: 0.5rem;}
.contact_whole .contact_main .left .address div img{margin-right: 0.25rem;}
.contact_whole .contact_main .left .address div span{font-size: 1.2rem;}
.contact_whole .contact_main .left .province{margin-top: 1rem;}
.contact_whole .contact_main .left .province ul{margin-top: 0.5rem;}
.contact_whole .contact_main .left .province ul li{display: flex;flex-direction: row;justify-content: space-between;font-size: 1.2rem;cursor: pointer;}
.contact_whole .contact_main .left .province p{font-size: 1.2rem;}
.contact_whole .contact_main .left .province ul li:hover{background: #F5F5F5;}



.contact_whole .contact_main .right{margin-top: 1rem;}
.contact_whole .contact_main .right li+li{margin-top: 0.75rem;}
.contact_whole .contact_main .right li img{width:100%;}




