body,div,span,p,em,ul,li,h1,h2,h3,dl,dt,dd,img,header,footer,nav,section,article,video,aside,dialog,figure,figcaption,time{margin:0;padding:0;border:0 none; outline:none;}
body {font-family:sans-serif "Microsoft YaHei";-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color: transparent;margin: 0 auto;}
ul,li{list-style: none;}
input{border: 0;background: none;}

a{text-decoration: none;color:inherit;}
.clearfix:after{ clear:both; display:block; visibility:hidden; height:0; line-height:0; content:'';}
.clearfix{ zoom:1;}
.introduce_whole{width: 100%;max-width: 29rem;margin: 0 auto;padding: 6rem 0 7rem;}
.introduce_whole img{width: 100%;display: block;}

.list_top{padding-bottom: 1rem;display: flex;flex-direction: row;align-items: center;border-bottom: 1px solid #E1E1E1;}
.list_top i{ width: 0;height: 0;border-top: 0.6rem solid transparent;border-left: 0.5rem solid #007AFF;border-bottom: 0.6rem solid transparent;margin-right: 0.5rem;}
.list_top a{color: #000;margin-left:0.25rem;font-size:1.3rem;display: contents;}
.list_top a:hover{color: #007AFF;}

.introduce_whole .introduce_main{margin:1rem 0;}
.introduce_whole .introduce_main img{width:100%;}
.introduce_whole .introduce_main p{font-size: 1.2rem;color: #333333;margin-top: 0.5rem;}
.introduce_whole .introduce_main .in_box{display: flex;flex-direction: row;justify-content: space-between;align-items: center;margin: 0.75rem 0;}
.introduce_whole .introduce_main .in_box li{width: 32%;}

.introduce_whole .introduce_main .in_icon{display: flex;flex-direction: row;align-items: center;margin: 1rem auto 0;}
.introduce_whole .introduce_main .in_icon li{width: 33.33%;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.introduce_whole .introduce_main .in_icon li img{width: 3rem;margin-bottom: 0.5rem;}
.introduce_whole .introduce_main .in_icon li div{font-size: 2.3rem;font-weight: bold;color: #FEAF17;}
.introduce_whole .introduce_main .in_icon li div span{font-weight: normal;font-size: 1rem;}
.introduce_whole .introduce_main .in_icon li p{margin-top: 0;}

.introduce_whole .in_bottom{margin-top: 1rem;}
.introduce_whole .in_bottom .title{border-bottom: 1px solid #999;line-height: 3rem;font-size: 1.3rem;color: #333333;margin: 0 auto;}
.introduce_whole .in_bottom .bottom_lunbo{margin: 1rem auto 0;position: relative;width: 80%;}
.introduce_whole .in_bottom img{width:100%;}
.introduce_whole .in_bottom .swiper-button-next,.in_bottom .swiper-button-prev{width: 2rem;}
.introduce_whole .in_bottom .swiper-button-next{background-image: url("../../images/details/jian_right.png");background-size: 100%;right: -2.5rem;}
.introduce_whole .in_bottom .swiper-button-prev{background-image: url("../../images/details/jian_left.png");background-size: 100%;left: -2.5rem;}
