@model  DanaZhangCms.Models.Article
@{
    ViewData["Title"] = "新闻中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="/css/new/list/video.css" />
}
<div class="video_whole" style="padding-top: 80px;">
    <div class="common_containe">
        <div class="list_top">
            <i></i>
            <a href="/home">首页 > </a>
            <a href="/vedio">产品视频 </a>
        </div>
        <div class="goods_video">
            
                <iframe height="590" width="980" id="video" src="@Model.VedioUrl" frameborder="0" allowfullscreen=""></iframe>
             
        </div>
         

    </div>
</div>
@section Scripts{

    
}