*{margin: 0;padding:0;border:0;}
ul,li{list-style: none;}
a{text-decoration:none}
img{display: block;}
.common{max-width: 32rem;margin: 0 auto;overflow: hidden;}
.introduce_details{padding-top: 1rem;}
.introduce_details img{display: block;}

.introduce_title  {margin-top:5rem; }
.introduce_title h1{font-size: 40px;font-weight: normal;}
.introduce_title h2{font-weight: normal;padding:10px;}
/*
.introduce_banner{margin: 1.5rem auto;}*/
.nav_style{width: 100%;position: fixed;top: 0;left: 0;background: #fff;z-index: 111;}
.introduce_nav{border-bottom: 1px solid #ccc;}
.introduce_nav>div{display: flex;flex-direction: column;align-items: center;justify-content: space-between;}
.introduce_nav>div .title_cp{font-size: 1.4rem;color: #000;font-weight: 600;margin: 1rem 0 0.5rem;}
.introduce_nav>div ul{display: flex;flex-direction: row;}
.introduce_nav>div ul li{padding: 0 0.8rem;line-height: 2.5rem;border-bottom: 3px solid #fff;font-size: 0.5rem;cursor: pointer;}
.introduce_nav>div ul li.active {border-bottom: 3px solid #ffba01;}


.video_content,.introduce_guige,.introduce_xiazai,.introduce_peizhi{padding: 1.5rem 0;}
.introduce_content h3{font-size: 2rem;font-weight: normal;margin-bottom: 1.25rem;text-align: center;}
.introduce_video,.video_box{width: 28rem;margin: 0 auto;}
.introduce_video li{display: none;overflow: hidden;}
.introduce_content .video_box{display: flex;flex-direction: row;margin-top: 1rem;}
.introduce_content .video_box>div{width: 188px;margin-right:1rem;cursor: pointer;}
.introduce_content .video_box>div:hover{color: #ffba01;}
.introduce_content .video_box>div .tupian{width: 100%;}
.introduce_content .video_img{position: relative;transition: all 2.6s;overflow: hidden;}
.introduce_content .video_img:hover .tupian{transform:scale(1.2);}
.introduce_content .video_img .zanting{width: 2rem;height: 2rem;position: absolute;top: 1.5rem;left: 50%;margin-left: -1rem;}
.introduce_content .video_box>div p{line-height: 1.75rem;text-align: center;font-size: 0.7rem;}

.introduce_guige{background: #f7f5f5;}
.guige_box{width: 95%;margin: 0 auto;}
.guige_box>div{padding: 1rem 0;display: flex;flex-direction: column;align-items: flex-start;}
.guige_box>div+div{border-top: 1px solid #ded9d9;}
.guige_box>div .guige_left{font-size: 1.5rem;width: 20%;margin-bottom: 1rem;}
/* .guige_box>div .guige_right{width: 80%;} */
.guige_box>div .guige_right p{font-size: 1.2rem;line-height: 1.6rem;}

.xiazai_box{padding: 1rem 0;display: flex;flex-direction: column;align-items: flex-start;border-bottom: 1px solid #eae7e7;width: 90%;margin: 0 auto;}
.xiazai_box .xiazai_left{font-size: 1.5rem;margin-bottom: 1rem;}
.xiazai_box .xiazai_right{width: 100%;line-height: 3rem;}
.xiazai_box .xiazai_right ul li{position: relative;}
.xiazai_box .xiazai_right ul li p{font-size: 1.2rem;margin-left: 0.5rem;}
.xiazai_box .xiazai_right ul li .yulam_icon{position: absolute;top: 0.25rem;right: 3rem;width: 3rem;}
.xiazai_box .xiazai_right ul li .xiazai_icon{position: absolute;top: 0.25rem;right: 0;width: 3rem;}
.xiazai_box .xiazai_right ul li:hover{background: #E1E1E1;}
.introduce_peizhi{ width:90%; margin: 0 auto;}

