.proxuanxiang { width:940px;height:35px; border-bottom:3px solid #0a84e1; clear:both; }
.onlvse { width:87px; height:32px; float:left; line-height:18px; margin-right:5px; background-color:#ffffff;  text-align:left; color:#034ea2; font-weight:bold; cursor:pointer; font-size:16px;  margin-bottom:5px;}
.onlvse1 { width:87px; height:32px; float:left; line-height:32px; margin-right:5px; text-align:center; color:#333;cursor:pointer;font-size:14px; margin-bottom:5px;}
.proinfoshow { width:940px; min-height: 100px; height:auto; margin-top: 12px;margin-bottom: 20px;}

.pleftz { width:412px; height:296px; float:left; }
.prightz { width:520px; height:296px; float:left; color:#928585; }
.prightz hr{ height:1px;border:none;border-top:1px solid #e6dddd; }

.productslx{float:left;width:320px;margin:0px;padding:6px 0px;}
.productslx li {float:left;width:140px;height:30px;background:url(../images/b12.gif) top no-repeat;text-align:center;padding:0px;margin-right:20px;margin-top:5px;display:inline}
.productslx li a{font-size:14px;line-height:30px;color:#fff;font-weight:bold;}


#preview{ float:none; margin:0 auto; text-align:center;}
.jqzoom{ width:350px; position:relative;}


.list-h li{ width:80px;float:left;}
#spec-n5{ padding-left:5px;height:56px; padding-top:6px; overflow:hidden;}
#spec-left{ background:url(../images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:5px;}
#spec-right{background:url(../images/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; margin-top:5px;}
#spec-list{ width:363px; height:60px; float:left; overflow:hidden; margin-left:0px; display:inline;}
#spec-list ul { margin-left:8px; *margin-left:7px}
#spec-list ul li{ float:left; text-align:left;  display:inline; width:72px; height:60px; overflow:hidden; margin-top:5px; }
#spec-list ul li img{ padding:1px ; border:1px solid #ccc; width:60px; height:45px;}


/*jqzoom Download */
.jqzoom{position:relative;padding:0;}
.jqzoom img{ border:1px solid #cccdc7; width:390px; height:293px}
.zoomdiv{z-index:100;position:absolute;top:1px;left:10px;background:#fff no-repeat center center;border:2px solid #5ab5fc;display:none;text-align:center;overflow: hidden;}

.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FFF 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative;  margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:0px; *margin-left:0;}


