body,ul,li,a,img,div,i,span,strong,p,input,h2,h3,h4,h5,h6,ol{padding:0; margin:0;border:none;list-style: none;}
a{text-decoration: none;}
input,textarea{outline:none;}

.clear{clear:both;}
em{font-style:normal;}
b,h1,h2,h3{font-weight: normal;}

.fl{float: left;}
.fr{float: right;}
.wrap{width: 1200px;margin: 0 auto;}
.dis_n{display: none;}
.dis_b{display: block;}
.box{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;padding: 0 0;width: 100%;}
.box2{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.bold{font-weight: bold}
.over{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.over2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.mart20{margin-top: 20px;}
