@model List<DanaZhangCms.Models.Article>
@{
    ViewData["Title"] = "新闻中心";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@section css{

    <link href="~/css/mobile/list/learning.css" rel="stylesheet" />
}
<div class="whole_list"  >

    <div class="list_top">
        <i></i>
        <a href="/home">首页 > </a>
        <a href="/Article">学术交流 </a>
    </div>

    <div class="lea_main">
        <ul>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <li>
                        <a href="/mobile/newDetail/@item.Id]">
                            <div class="img_box">
                                <img src="@item.ImgUrl">
                            </div>
                            <div class="jieshao">
                                <p>@item.Title</p>
                                <span>@item.CreatedDate</span>
                            </div>
                        </a>


                    </li>


                }
            }

        </ul>
        
    </div>

</div>

@section Scripts{

     
    <script src="~/js/mobile/list/learning.js"></script>

}
