*{margin: 0;padding:0;border:0;}
ul,li{list-style: none;}
a{text-decoration:none}
img{display: block;}
.common_containe{width: 1200px;margin: 0 auto;}

.list_top{height: 52px;display: flex;flex-direction: row;align-items: center;border-bottom: 1px solid #E1E1E1;}
.list_top i{ width: 0;height: 0;border-top: 5px solid transparent;border-left: 10px solid #007AFF;border-bottom: 5px solid transparent;}
.list_top a{font-size: ;color: #000;margin-left:5px;font-size: 14px;}
.list_top a:hover{color: #007AFF;}

.introduce_main{width:888px;margin:20px auto 40px;}
.introduce_main img{width:100%;}
.introduce_main p{font-size: 16px;color: #333333;line-height: 36px;margin-top: 10px;}
.introduce_main .in_box{display: flex;flex-direction: row;justify-content: space-between;align-items: center;margin: 15px 0;}
.introduce_main .in_box li{width: 32%;}

.introduce_main .in_icon{display: flex;flex-direction: row;align-items: center;margin: 40px auto 0;}
.introduce_main .in_icon li{width: 33.33%;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.introduce_main .in_icon li img{width: 60px;margin-bottom: 10px;}
.introduce_main .in_icon li div{font-size: 46px;font-weight: bold;color: #FEAF17;}
.introduce_main .in_icon li div span{font-weight: normal;font-size: 16px;}
.introduce_main .in_icon li p{margin-top: 0;}

.in_bottom{margin-top: 20px;}
.in_bottom .title{width:888px;border-bottom: 1px solid #999;line-height: 40px;font-size: 20px;color: #333333;margin: 0 auto;}
.in_bottom .bottom_lunbo{width: 848px;height: 430px;margin: 20px auto 0;position: relative;}
.in_bottom img{width:100%;}
.in_bottom 	.swiper-container{height: 400px;}
.in_bottom .swiper-button-next,.in_bottom .swiper-button-prev{width: 40px;}
.in_bottom .swiper-button-next{background-image: url("../../images/details/jian_right.png");background-size: 100%;right: -60px;}
.in_bottom .swiper-button-prev{background-image: url("../../images/details/jian_left.png");background-size: 100%;left: -60px;}
