
* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none
}

img {
    display: block;
}

.common_containe {
    width: 1200px;
    margin: 0 auto;
}


/* µ¼º½ */
.nav {
    width: 100%;
    height:;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 0 7px 7px -7px #5E5E5E;
}

    .nav > div, .nav .list ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav > div {
        justify-content: space-between;
    }

    .nav .logo {
        width: 110px;
        height: 50px;
    }

        .nav .logo img {
            width: 100%;
        }

    .nav .list ul li {
        padding: 0 16px;
        height: 75px;
        line-height: 75px;
        position: relative;
    }

        .nav .list ul li:first-child {
            background: #007AFF;
        }

            .nav .list ul li:first-child > a {
                color: #fff !important;
            }

    .nav .navStyle {
        background: #007AFF;
    }

        .nav .navStyle > a {
            color: #fff !important;
        }

            .nav .navStyle > a::after {
                content: '';
                width: 100%;
                height: 2px;
                background: #fff;
                position: absolute;
                bottom: -20px;
                left: 0
            }

    .nav .list ul li > a {
        color: #000000;
        font-size: 14px;
        position: relative;
    }

    .nav .list ul li .lianxi {
        padding: 20px 40px;
        width: 90px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: -25px;
        background: #FFFFFF;
        line-height: normal;
        display: none;
    }

        .nav .list ul li .lianxi span {
            padding: 8px 0;
            font-size: 14px;
            display: block;
        }

            .nav .list ul li .lianxi span:hover {
                color: #007cff;
            }

    .nav .list ul li .list_box {
        width: 100%;
        min-height: 100vh;
        background: rgba(0,0,0,0.6);
        position: fixed;
        top: 75px;
        left: 0;
        display: none;
        z-index: 1111;
    }

.navlist_current {
    background: #fff;
    overflow: hidden;
    padding: 35px 0;
}

    .navlist_current > div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navlist_current span {
        width: 20%;
    }

        .navlist_current span a {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background: #fff;
            overflow: hidden;
            padding: 15px 0;
        }

        .navlist_current span .img_box {
            height: 180px;
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-wrap: wrap;
            border-left: 1px solid #999999;
        }

        .navlist_current span:nth-child(5n+1) .img_box {
            border-left: 1px solid #fff;
        }

        .navlist_current span .img_box img {
            max-height: 100% !important;
            width: 100%;
        }

        .navlist_current span .hot {
            width: 45px !important;
            height: 43px !important;
            position: absolute;
            bottom: 30px;
            right: 20px;
        }

        .navlist_current span p {
            font-size: 12px;
            text-align: center;
            color: #000000;
            padding: 0 15px;
            line-height: 25px;
        }

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 75px;
}

    .search input {
        width: 150px;
        height: 30px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        left: -120px;
        display: none;
    }

    .search p {
        width: 20px;
        height: 20px;
    }

        .search p img {
            width: 100%;
        }

    .search div {
        margin-left: 30px;
        color: #333;
        font-size: 18px;
        cursor: pointer;
    }

.nav .nav_pageBox {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
 /*   margin: 20px 0 50px;*/
    font-size: 16px;
    width: 100%;
}

    .nav .nav_pageBox img {
        width: 30px;
        height: 30px;
        background: #007AFF;
        margin: 0 10px;
    }



/* µ×²¿ */
.footer_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer_main {
    background: #333;
    padding: 80px 0 40px 0;
}

.foot_box {
    color: #fff;
    justify-content: space-between;
}

.foot_left {
    margin-left: 50px;
}

.foot_box,
.foot_box .foot_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .foot_box dt {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .foot_box dl + dl {
        margin-left: 110px;
    }

    .foot_box dl dd {
        font-size: 14px;
        line-height: 30px;
    }

        .foot_box dl dd a {
            color: #999;
        }

    .foot_box .foot_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
    }

        .foot_box .foot_right img {
            width: 100px;
            height: 100px;
        }

        .foot_box .foot_right span {
            font-size: 14px;
            color: #999;
            margin-top: 15px;
        }

.foot_wrap {
    padding: 40px 0;
    background: #000;
}

    .foot_wrap .footer {
        width: 1120px;
        margin: 0 auto;
        justify-content: center;
    }

        .foot_wrap .footer,
        .foot_wrap .footer ul {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .foot_wrap .footer ul {
                width: 50%;
                justify-content: center;
            }

                .foot_wrap .footer ul li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 15px;
                }

                    .foot_wrap .footer ul li img {
                        height: 40px;
                    }

                    .foot_wrap .footer ul li span {
                        font-size: 13px;
                        color: #fff;
                        margin-top: 10px;
                    }

            .foot_wrap .footer .right {
                width: 50%;
                border-left: 1px solid #bbb;
                color: #fff;
                font-size: 13px;
                line-height: 24px;
            }

                .foot_wrap .footer .right p {
                    margin-left: 60px;
                }
