*{margin: 0;padding:0;border:0;}
ul,li{list-style: none;}
a{text-decoration:none}
img{display: block;}
.common_containe{width: 1200px;margin: 0 auto;}
.index_title{font-family: 微软雅黑;margin:0 0 30px 40px;padding-top: 40px;}
.index_title .title{font-size: 26px;color: #333333;position: relative;visibility: inherit;}
.index_title .title::after{content: '';position: absolute;top: 7px;left: -30px;width: 3px;height:24px;background:#1e85e4;}
.index_title .main{display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
.index_title .main>span{color: #666666;font-size: 20px;margin-top:20px;}
.index_title .main .more,.index_title .main .more>a{display: flex;flex-direction: row;align-items: center;margin-top: 20px;}
.index_title .main .more span{color: #333333;font-size: 14px;margin-right: 20px;}

/* banner */
.banner .slide-left {padding:30px; }
.banner{width: 100%;height: 100%;background: #EDEFF0;padding: 100px 0 50px;}
.banner>div{position: relative;}
.banner .swiper-container {width: 990px;height: 400px;top:0;}
.banner .swiper-slide{width:910px!important;height: 300px!important;background: #fff;padding:50px 40px;display: flex;flex-direction: row;justify-content:space-between;}
.banner .swiper-slide img{width:455px;height: 300px;}
.banner .swiper-container .swiper-pagination{bottom:30px;}
.banner .swiper-container .swiper-pagination span{background: #000000;opacity: 1;}
.banner .swiper-container .swiper-pagination span.swiper-pagination-bullet-active{background: #007aff;}
.swiper-button-next, .swiper-button-prev{width: 30px;height: 30px;background-size: 30px 30px;}
.banner .swiper-button-next{right:10px}
.banner .swiper-button-prev{left:10px}
.banner .swiper-slide>div{width:50%}
.banner .slide-left .bt{font-size: 28px;line-height: 34px;margin-bottom: 15px;}
.banner .slide-left span{font-size: 18px;line-height: 20px;display: block;}
.banner .slide-left .readMore{height: 37px;line-height: 36px;font-size: 14px !important;color: #FFF;background: #0085D5;display: inline-block;padding:0 20px;margin-top: 18px;cursor: pointer;}
.banner .slide-right{display: flex;align-items:center;}
/* 热卖详情 */
.hotSell{}
.hotSell ul{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;}
.hotSell ul li{width: 23.5%;position: relative;font-size: 13px;text-align: center;border: solid 3px #f7f7f7;padding: 15px 0;margin: 10px 0;}
.hotSell ul li a{color:#000;}
.hotSell ul li:hover{border-bottom: solid 3px #007cff;}
.hotSell ul li:hover .goods_img{transform:scale(1.1);}
.hotSell ul li:hover span,.hotSell ul li:hover p{color: #007cff;}
.hotSell ul li .goods_img{width: 100%;height: 240px;margin-bottom: 20px;}
.hotSell ul li .hot{position: absolute;right: 15px;width: 52px;height: 50px;bottom: 70px;}



/* 简介 */
.introduce_bj{width: 100%;background: url(/images/jianjie.jpg) no-repeat center;padding: 10px 0;}
.introduce{display: flex;flex-direction: row;align-items: center;justify-content: space-between;margin: 100px auto;}
.introduce .title {color:#fff;	}
.introduce .in_left{display: flex;flex-direction: column;align-items: flex-start;width: 550px;}
.introduce .in_left p{font-size: 14px;color: #CBCBCB;line-height: 1.9;padding-left: 40px;margin-bottom: 20px;}
.introduce .in_left img{margin-left:40px;}
.introduce .in_right{width: 380px;height: 330px;margin-right: 120px;position: relative;}
.introduce .in_right img{width: 100%;}
.introduce .in_right .leftop,.introduce .in_right .rightdown{position: absolute;width: 21px;height: 21px;}
.introduce .in_right .leftop{top: -10px;left:-20px;}
.introduce .in_right .rightdown{right:-10px;bottom:-20px;}
/* 精彩视频 */
.vedio{width: 100%;height:590px;background:#F5F5F5;}
.vedio_container {width: 100%;overflow: hidden;padding-bottom: 20px;} 
.vedio_container .swiper-wrapper {-webkit-transition-timing-function: linear;-moz-transition-timing-function: linear;-ms-transition-timing-function: linear;-o-transition-timing-function: linear;transition-timing-function: linear;margin: 0 auto;}
.vedio_container .swiper-slide {width: 373px;margin: 0 20px;display: flex;flex-direction: row;align-items: flex-start;}
.vedio_container .swiper-slide img{width: 100%;}
.vedio_container .slide_main {display: flex;flex-direction: column;justify-content: flex-start;width: 100%;height:345px;background-color: #ffffff;border-radius: 5px;overflow: hidden;}
.vedio_container .slide_main .mainP{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size: 18px;margin: 60px 0 10px 0;padding: 0 20px;}.vedio_container .slide_main span{font-size: 12px;color:#666666;padding: 0 20px;}
.vedio_container .slide_main:hover .mainP {color:#007cff}
.vedio .vedio_more{position: relative;font-size: 14px;text-align: center;}
.vedio .vedio_more a{color: #888888;}
.vedio .vedio_more::before{position: absolute;content: '';width: 6px;height: 6px;border-right: solid 1px #888888;border-top: solid 1px #888888;transform: rotate(45deg);left: 50%;margin-left: 50px;top: 6px;}

/* 学术会议 */
.learning ul{overflow: hidden;display: flex;flex-direction: row;justify-content: space-between;}
.learning ul li{width: 390px;height: 390px;float: left;position: relative;}
.learning ul li+li{margin-left: 10px;}
.learning ul li img{width: 100%;}
.learning ul li .main{color:#FFFFFF;z-index: 10;position: absolute;bottom:0;top:0;width: 350px;background:rgba(0,0,0,0.3);padding: 0 20px 30px;display: flex;justify-content: flex-end;flex-direction: column;}
.learning ul li .main .title{font-size: 24px;line-height: 28px;}
.learning ul li .main .neirong{line-height: 20px;font-size: 18px;margin-top: 10px;display: none;}
.learning ul li .mengceng{display: none;width: 390px;height: 390px;background:rgba(0,0,0,0.3);position: absolute;top: 0;left: 0;}


/* 合作机构 */
.cooperative ul{display:flex;flex-direction: row;align-items:center;flex-wrap: wrap}
.cooperative ul li{width:20%;display:flex;flex-direction: row;justify-content:center;padding-bottom:60px;}

.cooperative {margin-bottom:30px; }

/* 首页导航 */




	  
	  