
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SysLayout.cshtml";
}

 
<div class="layui-row">
    <button class="layui-btn addCate" onclick="x_admin_show('新增','@(Url.Action("Create"))')"><i class="layui-icon"></i>增加</button>
    <button class="layui-btn addCate" onclick="x_admin_show('新增招聘','@(Url.Action("CreateNew"))')"><i class="layui-icon"></i>新增招聘</button>
    <div class="layui-inline">
        <input class="layui-input" name="spellName" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<div>
    <table class="layui-hidden" id="treeTable" lay-filter="treeTable"></table>
</div>

@section Scripts{
    <script>
        layui.use('Table', function () {
            var table = layui.table;
            table.render({
                id: 'treeTable'
                , elem: '#treeTable'
                , page: true //开启分页
                , url: '/SysContents/GetEntitiesByPaged'
               
                , cols: [[
                    { field: 'title', edit: 'text', width: 300, title: '分类名称' },
                    { field: 'spellName', title: '简拼' },
                    {
                        width: 200, title: '操作', align: 'center'/*toolbar: '#barDemo'*/
                        , templet: function (d) {
                            var html = '';
                            var addBtn = '<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">修改</a>';
                            var delBtn = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>';
                            return addBtn + delBtn;
                        }
                    }


                ]]
                , page: false
            });

            var $ = layui.$, active = {
                reload: function () {
                   
                    var name = $('#demoReload');
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: { 
                            spellName: name.val(),
                        }
                    });
                }
            };

            
            $('#demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            treeGrid.on('tool(treeTable)', function (obj) {
                var data = obj.data;
                var id=obj.data.id;
                if (obj.event === 'del') {//删除行
                    layer.confirm('真的删除内容吗？', function (index) {

                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);

                        var url = " /SysContents/Delete?id=" + data.id;
                        //向服务端发送删除指令
                        $.ajax({
                            url: url,
                            type: "post",
                            success: function (rep) {
                                if (rep.success == true) {
                                    layer.msg(rep.msg);
                                }
                                else {
                                    layer.alert(rep.msg, { icon: 5 });
                                }

                            },
                            error: function () {
                                layer.alert("网络错误，请稍候再试。", { icon: 5 });
                            }
                        });


                    });
                } else if (obj.event === "add") {//添加行
                   // add(obj.data);
                    x_admin_show('新增','@(Url.Action("Edit"))'+'?id='+id)
                }
            });
        });

    </script>

}